<style>
    .message_list ul li:first-child{
        display: none;
    }
    .message_list ul li.unread{
        font-weight: bold;
    }
    .message_list ul li * {
        float: right;
        padding: 7px;
    }
    .message_list ul li {
        clear: both;
        padding: 10px;
    }
    .message_list ul li button{
        float: left;
    }
    .message_view ul li * {
        float: right;
        padding: 10px;
    }
    .message_view ul li {
        clear: both;
        padding: 10px;
    }
    .message_view ul li button{
        float: left;
    }
</style>
<div class="page message_list" style="padding: 0px 0 50px 0;">
    <div class="content-div base-padding">
        <ul id="abring_message_list_broadcast">
            <li class="abring_buttons_message_view">
                <img src="" class="by_avatar" style="width: 32px;"><span class="by_name"></span>
                <span class="date"></span>
                <span class="title"></span>
                <button class="by_player_id abring_buttons_message_unicast">Reply</button>
            </li>
        </ul>
        <ul id="abring_message_list_multicast">
            <li class="abring_buttons_message_view">
                <img src="" class="by_avatar" style="width: 32px;"><span class="by_name"></span>
                <span class="date"></span>
                <span class="title"></span>
                <button class="by_player_id abring_buttons_message_unicast">Reply</button>
            </li>
        </ul>
        <ul id="abring_message_list_unicast">
            <li class="abring_buttons_message_view">
                <img src="" class="by_avatar" style="width: 32px;"><span class="by_name"></span>
                <span class="date"></span>
                <span class="title"></span>
                <button class="by_player_id abring_buttons_message_unicast">Reply</button>
            </li>
        </ul>
        <ul id="abring_message_list_sent">
            <li class="abring_buttons_message_view">
                <img src="" class="by_avatar" style="width: 32px;"><span class="by_name"></span>
                <span class="date"></span>
                <span class="title"></span>
            </li>
        </ul>
    </div>
</div>
<div class="page message_view" style="padding: 0px 0 50px 0;">
    <div class="content-div base-padding">
        <img src="" class="by_avatar" style="width: 32px;"><span class="by_name"></span>
        <span class="date"></span>
        <h3 class="title"></h3>
        <p class="message"></p><br>
        <button class="by_player_id abring_buttons_message_unicast">Reply</button>
    </div>
</div>
<div class="page message_unicast" style="padding: 0px 0 50px 0;">
    <div>
        <div style="width: 100%;text-align:center;margin-bottom: -10px;">
            <img class="avatar" src="" style="width: 60%;border-radius: 20px;background-color: silver;">
        </div>
        <div class="rtl">
            <p><span>نام:</span><span class="name">نام ثبت نشده است</span></p>
        </div>
        <div class="rtl">
            <p><span>شماره تماس:</span><span class="mobile">موبایل ثبت نشده است</span></p>
        </div>
        <div class="rtl">
            <p class="lawyer-description">توضیحاتی ثبت نشده است</p>
        </div>
    </div>
    <div class="content-div base-padding abring_message_form">
        <input id="abring_message_player_id" type="hidden" value="" placeholder="Player_id here"><br>
        <input id="abring_message_title" type="text" value="" placeholder="Title"><br>
        <textarea id="abring_message_message" placeholder="Your message here"></textarea><br>
        <button class="abring_buttons_message_unicast_submit">Send</button>
    </div>
</div>