<style>
    .products_list ul li:first-child{
        display: none;
    }
    .products_list ul li * {
        float: right;
        padding: 10px;
    }
    .products_list ul li {
        clear: both;
        padding: 10px;
    }
    .products_list ul li button{
        float: left;
    }
    .product_view ul li * {
        float: right;
        padding: 10px;
    }
    .product_view ul li {
        clear: both;
        padding: 10px;
    }
    .product_view ul li button{
        float: left;
    }
</style>
<div class="page message_list" style="padding: 0px 0 50px 0;">
    <div class="action-div base-padding">
        <a href="#" class="close"><img src="abring/img/Arrow_Back.svg" /></a>
        <span class="message left"></span>
    </div>
    <div class="content-div base-padding">

        <ul>
            <li>
                <img src="" class="image">
                <h3 class="name"></h3>
                <h3 class="fee"></h3>
                <h3 class="amount"></h3>
                <input type="number" class="order" value="1">
                <button class="abring_button_market_add_to_basket">add to basket</button>
            </li>
        </ul>
    </div>
</div>
<div class="page message_view" style="padding: 0px 0 50px 0;">
    <div class="action-div base-padding">
        <a href="#" class="close"><img src="abring/img/Arrow_Back.svg" /></a>
        <span class="message left"></span>
    </div>
    <div class="content-div base-padding">
        <img src="" class="image">
        <h3 class="name"></h3>
        <p class="data"></p>
        <h3 class="fee"></h3>
        <h3 class="amount"></h3>
        <button class="abring_button_market_add_to_basket">add to basket</button>
    </div>
</div>
<div class="page message_unicast" style="padding: 0px 0 50px 0;">
    <div class="action-div base-padding">
        <a href="#" class="close"><img src="abring/img/Arrow_Back.svg" /></a>
        <span class="message left"></span>
    </div>
    <div class="content-div base-padding abring_message_form">
        <input id="abring_message_player_id" type="text" value="" placeholder="Player_id here"><br>
        <input id="abring_message_title" type="text" value="" placeholder="Title"><br>
        <textarea id="abring_message_message" placeholder="Your message here"></textarea><br>
        <button class="abring_buttons_message_unicast_submit">Send</button>
    </div>
</div>