
<div class="page chat_list">
    chat list here
</div>

<div class="page chat_room">
    <style type="text/css">
        ul.chat_rooms {
            padding: 0px;
        }
        .chat_rooms li{
            list-style: none;
        }
        ul.chat_rooms li:first-child{
            display: none;
        }
        .chat_rooms .message {
            float: left;
            margin: 0;
        }
        .chat_rooms {
            text-align: center;
        }
        .chat_rooms .chat-footer {
            position: relative;
        }
        .chat_rooms .chat_send {
            position: absolute;
            right: 0;
            bottom: 0px;
            height: 46px;
        }
        .chat_rooms .chat_content {
            display: inline-block;
            width: 100%;
            padding: 0 15px;
            min-height: 250px;
            height: 465px;
            overflow: auto;
        }
        .chat_rooms .chat_content .me{
            width: 100%;
            float: right;
        }
        .chat_rooms .chat_content .you{
            width: 100%;
            float: left;
        }
        .chat_rooms .chat_content .time{
            font-size: 10px;
            margin-bottom: 0px;
            text-align: right;
        }
        .chat_rooms .chat_content .you img{
            padding: 5px;
            float: left;
            clear: left;
        }
        .chat_rooms .chat_content .chat_dialog{
            padding: 10px;
            border-radius: 10px;
            margin: 5px 0;
        }
        .chat_rooms .chat_content .message{
            width: 100%;
            text-align: right;
        }
        .chat_rooms .chat_content .you .chat_dialog{
            background: #ee9;
            float: left;
            clear: left;
        }
        .chat_rooms .chat_content .me .chat_dialog{
            background: #eee;
            float: right;
            clear: right;
        }
    </style>

    <ul class="chat_rooms">
        <li class="tab" style="margin-bottom: 80px;">
            <div class="chat_header">
                <img class="target_player_avatar" src="" style="max-width: 64px;max-height:64px;">
                <p>chat with <span class="target_player_name">No name</span></p>
            </div>
            <div class="content-div chat_content">

                <div class="me" style="display: none;">
                    <div class="chat_dialog">
                        <p class="message">mmm</p>
                        <p class="time"></p>
                    </div>
                </div>
                <div class="you" style="display: none;">
                    <div class="chat_dialog">
                        <img class="avatar" src="" style="max-width: 32px;max-height: 32px;">
                        <span class="name"></span>
                        <p class="message">yyy</p>
                        <p class="time"></p>
                    </div>
                </div>
            </div>
            <div class="chat-footer" style="position: fixed !important;bottom: 0px !important;width:94% !important;">
                <input class="chat_message" placeholder="Type your message here" typeof="text" style="position: inherit">
                <input type="button" class="chat_send" value="Send" player_id="PLAYER_ID">
            </div>
        </li>
    </ul>
</div>