
<div class="other_player_profile">
    <!--img style="width:60px;" class="friend_avatar avatar" src="AVATAR" alt="Avatar"><br-->
    <a href="" target="_blank">
        <img style="width:60px;" class="friend_avatar avatar view_profile" name="" src="" alt="Avatar">
    </a>
    <br>
    <h3 class="name view_profile player_id" name="PLAYER_ID"><span class="player_name">PLAYER_NAME</span></h3>
    <div class="friend-action">
        <a href="#" class="view_posts player_id" name="PLAYER_ID"><span class="player_name">PLAYER_NAME</span> posts</a>
        <a href="#" class="send_message player_id" name="PLAYER_ID">message to <span class="player_name">PLAYER_NAME</span></a>
        <a href="#" class="view_friends player_id" name="PLAYER_ID">Friends of <span class="player_name">PLAYER_NAME</span></a>
        <a href="#" class="unfriend player_id" name="PLAYER_ID">Unfriend/report <span class="player_name">PLAYER_NAME</span></a>
        <a href="#" class="chat_start player_id" name="PLAYER_ID">Chat with <span class="player_name">PLAYER_NAME</span></a>

</div>
</div>
<div class="player_mobile_register">
    <h3 class="message"></h3>
    <br>
    <br>
    +98<input type="text" class="player_mobile_register_mobile_number" placeholder="91 . . .">
    <input type="button" class="player_mobile_register_submit" value="Login"><br><br>
    <a href="#" class="player_mobile_other_way_page">other ways</a>
</div>
<div class="player_mobile_verify">
    <span style="direction: rtl">Verify code is sent for you (It will take afew minutes).</span>
    <br>
    <label class="player_mobile_verify_mobile_number_label"></label>
    <br>
    <span class="player_mobile_verify_player_mobile_retry_time"></span>
    <br>
    <input type="hidden" class="player_mobile_verify_mobile_number" value="">
    <input type="text" class="player_mobile_verify_code" placeholder="CODE HERE">
    <input type="button" class="player_mobile_verify_submit" value="Verify">
    <input type="button" style="display: none" class="player_mobile_verify_resend_code" value="Retry">
    <br>
    <a href="#" style="display: none" class="player_mobile_other_way_page">other ways</a>
</div>
<div class="player_mobile_other_way">
    <h3 class="message"></h3>
    <a href="#" class="player_mobile_register_by_send_sms_submit logins-btn">Login by sending sms <img style="width: 20px;" src="abring/img/sms.png" /></a><br>
    <a href="#" class="login_using_google logins-btn">Login using Google <img style="width: 20px;" src="abring/img/google.png" /></a><br>
    <a href="#" class="login_using_facebook logins-btn">Login using Facebook <img style="width: 20px;" src="abring/img/facebook.png" /></a>
    <a href="#" class="login_using_abring logins-btn">Login using Abring <img style="width: 20px;height: 20px;" src="abring/img/abring.png" /></a>
</div>
<div class="player_register">
        <h3 class="message"></h3>
        <input type="text" class="username" placeholder="USERNAME">
        <input type="password" class="password" placeholder="PASSWORD">
        <input type="text" class="name" placeholder="DISPLAY NAME">
        <input type="file" class="avatar" placeholder="DISPLAY AVATAR">
        <input type="button" class="submit" value="Register">
</div>
<div class="player_login">
    <h3 class="message"></h3>
    <input type="text" class="username" placeholder="USERNAME">
    <input type="password" class="password" placeholder="PASSWORD">
    <input type="button" class="submit" value="Login">
    <br>
    <a href="#" class="register_using_abring">Register on Abring</a>
</div>
<div class="my_profile">
    <div class="action-div base-padding">
        <a href="#" class="my_profile_update_profile action-btn">Update</a>
        <a href="#" class="abring_player_logout action-btn">Logout</a>
    </div>
    <div class="content-div base-padding">
        <div class="profile-contain update_profile">
            <img style="width: 64px;" class="avatar" src="" alt="Avatar"><br>
        </div>
        <div class="profile-data-contain">
            <div class="username-div">
                <label class="inner-profile">Username:</label><h3 class="username inner-profile">username</h3>
            </div>
            <div class="name-div">
                <label class="inner-profile">Display name:</label><h3 class="name inner-profile">Display name</h3>
            </div>
            <div class="mobile-div">
                <label class="inner-profile">Mobile:</label><h3 class="mobile inner-profile"></h3>
            </div>
            <div class="sex-div">
                <label class="inner-profile">Sex:</label><h3 class="sex inner-profile">Sex</h3>
            </div>
            <div class="age-div">
                <label class="inner-profile">Age:</label><h3 class="age inner-profile">Age</h3>
            </div>
        </div>
    </div>
</div>
<div class="my_profile_update">
    <div class="action-div base-padding">
        <a href="#" class="close"><img src="abring/img/Arrow_Back.svg" /></a>
        <a href="#" class="abring_buttons_player_profile">Back</a>
    </div>
    <div class="content-div base-padding">
        <h3 class="message"></h3>
        <div class="profile-contain-edit">
            <div class="share-div-edit">
                <label class="inner-profile">share:</label>
                <select class="share inner-profile-input" >
                    <option value="global">Public profile</option>
                    <option value="private">Only this app</option>
                </select>
            </div>
            <div class="name-div-edit">
                <label class="inner-profile">Display name:</label><input type="text" class="name inner-profile-input" placeholder="Display name">
            </div>
            <div class="avatar-div-edit">
                <label class="inner-profile">Avatar:</label><input type="file" class="avatar avatar-edit" alt="Avatar" name="avatar" id="abring_profile_avatar_upload">
            </div>
            <div class="cover-div-edit">
                <label class="inner-profile">Cover:</label><input type="file" class="cover cover-edit" alt="Cover" name="cover" id="abring_profile_cover_upload">
            </div>
            <div class="mobile-div-edit">
                <label class="inner-profile">Mobile: </label><input type="text" class="mobile inner-profile-input" alt="Mobile" placeholder="91...">
            </div>
            <div class="sex-div-edit">
                <label class="inner-profile">Sex:</label>
                <select class="sex inner-profile-input">
                    <option value="">Select one</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
            <div class="age-div-edit">
                <label class="inner-profile">Age:</label>
                <input type="number" class="age inner-profile-input" placeholder="Age" value="18">
            </div>
        </div>
        <input type="button" style="margin-top: 10px;" class="my_profile_update_submit" value="Update">
    </div>
</div>

<div class="abring_chat abring_chat_template" id="abring_chat">
    <style>
        li#template{display: none}
        .abring_chat .message {
            float: left;
            margin: 0;
        }
        #abring_chat {
            text-align: center;
        }
        .chat-footer {
            position: relative;
        }
        .chat_send {
            position: absolute;
            right: 0;
            bottom: 0px;
            height: 46px;
        }
        .chat_content {
            display: inline-block;
            width: 100%;
            padding: 0 15px;
            min-height: 250px;
            height: 465px;
            overflow: auto;
        }
        .tab_wrapper{
            padding: 0px;;
        }
        .chat_content .me{
            width: 100%;
            float: right;
        }
        .chat_content .you{
            width: 100%;
            float: left;
        }
        .chat_content .time{
            font-size: 10px;
            margin-bottom: 0px;
            text-align: right;
        }
        .chat_content .you img{
            padding: 5px;
            float: left;
            clear: left;
        }
        .chat_content .chat_dialog{
            padding: 10px;
            border-radius: 10px;
            margin: 5px 0;
        }
        .chat_content .message{
            width: 100%;
            text-align: right;
        }
        .chat_content .you .chat_dialog{
            background: #ee9;
            float: left;
            clear: left;
        }
        .chat_content .me .chat_dialog{
            background: #eee;
            float: right;
            clear: right;
        }
    </style>
    <ul class="tab_wrapper">
        <li class="tab" id="template" style="margin-bottom: 80px;">
            <div class="chat_header">
                <img class="target_player_avatar" src="" style="max-width: 64px;max-height:64px;">
                <p>chat with <span class="target_player_name">No name</span></p>
            </div>
            <div class="content-div chat_content">

                <div class="me" style="display: none;">
                    <div class="chat_dialog">
                        <p class="message"></p>
                        <p class="time"></p>
                    </div>
                </div>
                <div class="you" style="display: none;">
                    <div class="chat_dialog">
                        <img class="avatar" src="" style="max-width: 32px;max-height: 32px;">
                        <span class="name"></span>
                        <p class="message"></p>
                        <p class="time"></p>
                    </div>
                </div>
            </div>
            <div class="chat-footer" style="position: fixed !important;bottom: 0px !important;width:94% !important;">
                <input class="chat_message" placeholder="Type your message here" typeof="text" style="position: inherit">
                <input type="button" class="chat_send" value="Send" player_id="PLAYER_ID">
            </div>
        </li>
    </ul>
</div>