
<div class="page player_view_details">
    <div class="action-div base-padding">
        <a href="#" class="close"><img src="abring/img/Arrow_Back.svg" /></a>
    </div>
    <div class="content-div base-padding">
        <!--img style="width:60px;" class="friend_avatar avatar" src="AVATAR" alt="Avatar"><br-->
        <a href="" target="_blank"><img style="width:60px;" class="friend_avatar avatar view_profile" name="PLAYER_ID" src="PLAYER_IMG" alt="Avatar"></a><br>
        <h3 class="name view_profile" name="PLAYER_ID">PLAYER_NAME</h3>
        <div class="friend-action">
            <a href="#" class="view_posts" name="PLAYER_ID">PLAYER_NAME posts</a>
            <a href="#" class="send_message" name="PLAYER_ID">message to PLAYER_NAME</a>
            <a href="#" class="view_friends" name="PLAYER_ID">Friends of PLAYER_NAME</a>
            <a href="#" class="unfriend" name="PLAYER_ID">Unfriend/report PLAYER_NAME</a>
            <a href="#" class="chat_start" name="PLAYER_ID">Chat with PLAYER_NAME</a>
        </div>
    </div>
</div>
<div class="page player_mobile_register">
    <div class="action-div base-padding">
        <a href="#" class="close"><img src="abring/img/Arrow_Back.svg" /></a>
    </div>
    <div class="content-div base-padding">
        <h3 class="message"></h3>
        <br>
        <br>
        +98<input type="text" class="mobile_number" placeholder="91 . . .">
        <input type="button" class="submit" value="Login"><br><br>
        <a href="#" class="player_mobile_other_way_page">other ways</a>
    </div>

</div>
<div class="page player_mobile_verify">
    <div class="action-div base-padding">
        <h3 class="message" style="margin: 0;display: inline-block"></h3>
        <a href="#" class="close"><img src="abring/img/Arrow_Back.svg" /></a>
    </div>
    <div class="content-div base-padding">
        <span style="direction: rtl">Verify code is sent for you (It will take afew minutes).</span>
        <br>
        <label class="mobile_number_label"></label>
        <br>
        <span class="player_mobile_retry_time"></span>
        <br>
        <input type="hidden" class="mobile_number" value="">
        <input type="text" class="code" placeholder="CODE HERE">
        <input type="button" class="submit" value="Verify">
        <input type="button" style="display: none" class="resend_code" value="Retry">
        <br>
        <a href="#" style="display: none" class="player_mobile_other_way_page">other ways</a>
    </div>
</div>
<div class="page player_mobile_other_way">
    <div class="action-div base-padding">
        <a href="#" class="close"><img src="abring/img/Arrow_Back.svg" /></a>
        <a href="#" class="abring_buttons_player_profile">Back</a>
    </div>
    <div class="content-div base-padding">
        <h3 class="message"></h3>
        <a href="#" class="player_mobile_register_by_send_sms_submit logins-btn">Login by sending sms <img style="width: 20px;" src="abring/img/sms.png" /></a><br>
        <a href="#" class="login_using_google logins-btn">Login using Google <img style="width: 20px;" src="abring/img/google.png" /></a><br>
        <a href="#" class="login_using_facebook logins-btn">Login using Facebook <img style="width: 20px;" src="abring/img/facebook.png" /></a>
        <a href="#" class="login_using_abring logins-btn">Login using Abring <img style="width: 20px;height: 20px;" src="abring/img/abring.png" /></a>
    </div>

</div>
<div class="page player_register">
    <div class="action-div base-padding">
        <a href="#" class="close"><img src="abring/img/Arrow_Back.svg" /></a>
        <a href="#" class="login_using_abring">Back</a>
    </div>
    <div class="content-div base-padding">
        <h3 class="message"></h3>
        <input type="text" class="username" placeholder="USERNAME">
        <input type="password" class="password" placeholder="PASSWORD">
        <input type="text" class="name" placeholder="DISPLAY NAME">
        <input type="file" class="avatar" placeholder="DISPLAY AVATAR">
        <input type="button" class="submit" value="Register">
    </div>
</div>
<div class="page player_login">
    <div class="action-div base-padding">
        <a href="#" class="close"><img src="abring/img/Arrow_Back.svg" /></a>
        <a href="#" class="abring_buttons_player_mobile_register">Back</a>
    </div>
    <div class="content-div base-padding">
        <h3 class="message"></h3>
        <input type="text" class="username" placeholder="USERNAME">
        <input type="password" class="password" placeholder="PASSWORD">
        <input type="button" class="submit" value="Login">
        <br>
        <a href="#" class="register_using_abring">Register on Abring</a>
    </div>
</div>
<div class="page profile_form">
    <div class="action-div base-padding">
        <a href="#" class="close"><img src="abring/img/Arrow_Back.svg" /></a>
        <a href="#" class="update_profile action-btn">Update</a>
        <a href="#" class="abring_player_logout action-btn">Logout</a>
    </div>
    <div class="content-div base-padding">
        <div class="profile-contain update_profile">
            <img style="width: 64px;" class="avatar" src="" alt="Avatar"><br>
        </div>
        <div class="profile-data-contain">
            <div class="username-div">
                <label class="inner-profile">Username:</label><h3 class="username inner-profile">username</h3>
            </div>
            <div class="name-div">
                <label class="inner-profile">Display name:</label><h3 class="name inner-profile">Display name</h3>
            </div>
            <div class="mobile-div">
                <label class="inner-profile">Mobile:</label><h3 class="mobile inner-profile"></h3>
            </div>
            <div class="sex-div">
                <label class="inner-profile">Sex:</label><h3 class="sex inner-profile">Sex</h3>
            </div>
            <div class="age-div">
                <label class="inner-profile">Age:</label><h3 class="age inner-profile">Age</h3>
            </div>
        </div>
    </div>
</div>
<div class="page profile_form_update">
    <div class="action-div base-padding">
        <a href="#" class="close"><img src="abring/img/Arrow_Back.svg" /></a>
        <a href="#" class="abring_buttons_player_profile">Back</a>
    </div>
    <div class="content-div base-padding">
        <h3 class="message"></h3>
        <div class="profile-contain-edit">
            <div class="share-div-edit">
                <label class="inner-profile">share:</label>
                <select class="share inner-profile-input" >
                    <option value="global">Public profile</option>
                    <option value="private">Only this app</option>
                </select>
            </div>
            <div class="name-div-edit">
                <label class="inner-profile">Display name:</label><input type="text" class="name inner-profile-input" placeholder="Display name">
            </div>
            <div class="avatar-div-edit">
                <label class="inner-profile">Avatar:</label><input type="file" class="avatar avatar-edit" alt="Avatar" name="avatar" id="abring_profile_avatar_upload">
            </div>
            <div class="cover-div-edit">
                <label class="inner-profile">Cover:</label><input type="file" class="cover cover-edit" alt="Cover" name="cover" id="abring_profile_cover_upload">
            </div>
            <div class="mobile-div-edit">
                <label class="inner-profile">Mobile: </label><input type="text" class="mobile inner-profile-input" alt="Mobile" placeholder="91...">
            </div>
            <div class="sex-div-edit">
                <label class="inner-profile">Sex:</label>
                <select class="sex inner-profile-input">
                    <option value="">Select one</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
            <div class="age-div-edit">
                <label class="inner-profile">Age:</label>
                <input type="number" class="age inner-profile-input" placeholder="Age" value="18">
            </div>
        </div>
        <input type="button" style="margin-top: 10px;" class="submit" value="Update">
    </div>
</div>

<div class="page abring_chat">
    <div class="action-div base-padding chat-header">
        <a href="#" class="close"><img src="abring/img/Arrow_Back.svg" /></a>
        <h3 class="message">Chat</h3>
        <label class="socket_status">offline</label>
    </div>
    <div class="content-div chat_content">

    </div>
    <div class="chat-footer">
        <textarea class="chat_message" placeholder="Type your message here"></textarea>
        <input type="button" class="chat_send" value="Send">
    </div>
</div>