<div class="page friends_list">
    <div class="action-div base-padding">
        <a href="#" class="close"><img src="abring/img/Arrow_Back.svg" /></a>
        <span class="message left"></span>
    </div>
    <div class="content-div base-padding">
        <div class="friends_search">
            <div class="friend_search-div">
                <input type="text" class="friends_search_input" placeholder="Part of name" >
            </div>
            <div class="result" style="max-height: 400px;overflow: auto;">
                <div class="friend_details">
                    <div class="friend-block">
                        <a href="#" class="view_profile" name="PLAYER_ID">
                            <img src="" class="avatar" style="width:120px;">
                            <label>PLAYER_NAME</label>
                        </a>
                        <a style="display: PLAYER_INVITE" href="#" class="friend_player_id invite PLAYER_ID" name="PLAYER_ID">
                            <input type="button" value="Invite">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="invitations_friend_details">
            <h3>Invitations</h3>
            <div class="friend_details">
                <div class="friend-block">
                    <a href="#" class="view_profile" name="PLAYER_ID">
                        <img src="" class="avatar" style="width:120px;">
                        <label>PLAYER_NAME</label>
                    </a>
                    <a href="#" class="friend_player_id accept_request PLAYER_ID" name="PLAYER_ID">
                        <input type="button" value="V">
                    </a>
                    <a href="#" class="friend_player_id reject_request PLAYER_ID" name="PLAYER_ID">
                        <input type="button" value="X">
                    </a>
                </div>
            </div>
        </div>

        <div class="members_friend_details">
            <h3>Members</h3>
            <div class="friend_details">
                <div class="friend-block">
                    <a href="#" class="view_profile" name="PLAYER_ID">
                        <img src="" class="avatar" style="width:120px;">
                        <label>PLAYER_NAME</label>
                    </a>
                    <a href="#" class="friend_player_id unfriend_request PLAYER_ID" name="PLAYER_ID">
                        <input type="button" value="Unfriend">
                    </a>
                </div>
            </div>
        </div>

        <div class="requests_friend_details">
            <h3>Requested</h3>
            <div class="friend_details">
                <div class="friend-block">
                    <a href="#" class="view_profile" name="PLAYER_ID">
                        <img src="" class="avatar" style="width:120px;">
                        <label>PLAYER_NAME</label>
                    </a>
                    <a href="#" class="friend_player_id cancel_request PLAYER_ID" name="PLAYER_ID">
                        <input type="button" value="X">
                    </a>
                </div>
            </div>
        </div>

        <div class="suggested_friend_details">
            <h3>Suggestions</h3>
            <a href="#" class="friend_player_id more"><input type="button" value="More suggestions"></a><br>
            <div class="friend_details">
                <div class="friend-block">
                    <a href="#" class="view_profile" name="PLAYER_ID">
                        <img src="" class="avatar" style="width:120px;">
                        <label>PLAYER_NAME</label>
                    </a>
                    <a href="#" class="friend_player_id invite PLAYER_ID" name="PLAYER_ID">
                        <input type="button" value="+">
                    </a>
                </div>

            </div><br>
        </div>
    </div>

</div>
