<style>
    .basket_list ul li:first-child{
        display: none;
    }
    table tr:nth-child(-2n + 2) {
        display: none;
    }
    #basket-row tr td img {
        width: 80px;
        height: 60px;
    }
    table#basket-row {
        direction: rtl;
        width: 100%;
        background-color: white;
        text-align: right;
        border-collapse: collapse;
    }
    tbody {
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
    }
    tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
    }
    td, #basket-row th {
        border: 1px solid #dddddd;
        text-align: right;
        padding: 8px;
    }
    th {
        font-weight: bold;
        font-size: 16px;
    }
    td, th {
        display: table-cell;
        vertical-align: inherit;
    }
    #basket-row tr td {
        font-weight: normal !important;
        font-size: 12px !important;
    }
    td .order {
        width: 40px;
    }
    .basket_list .content-div {
        padding: 20px;
    }
</style>
<div class="page basket_view">
    <div class="action-div base-padding">
        <a href="#" class="close"><img src="abring/img/Arrow_Back.svg" /></a>
        <span class="message left"></span>
    </div>
    <div class="content-div base-padding basket-contain">

        <table id="basket-row" style="width:100%">
            <tr>
                <th>عکس</th>
                <th>نام محصول</th>
                <th>قیمت</th>
                <th>وضعیت</th>
                <th></th>
            </tr>
            <tr class="template">
                <td><img src="" class="image"></td>
                <td><label class="name"></label></td>
                <td><label class="fee"></label></td>
                <td><input type="number" class="order"></td>
                <td style="text-align: center"><button class="abring_button_market_delete_from_basket">حذف</button></td>
            </tr>
        </table>

    </div>
</div>

<div class="page basket_list">
    <div class="action-div base-padding">
        <a href="#" class="close"><img src="abring/img/Arrow_Back.svg" /></a>
        <span class="message left"></span>
    </div>
    <div class="content-div base-padding">
        <table id="basket-row" style="width:100%">
            <tr>
                <th>زمان ایجاد</th>
                <th>قیمت</th>
                <th>وضعیت</th>
                <th></th>
                <th></th>
            </tr>
            <tr class="template">
                <td><label class="create_time"></label></td>
                <td><label class="fee"></label></td>
                <td><label class="status"></label></td>
                <td style="text-align: center"><button class="abring_buttons_market_basket_view">نمایش سبد</button></td>
            </tr>
        </table>

    </div>
</div>
