<div class="page basket_view">
    <div class="action-div base-padding">
        <a href="#" class="close"><img src="abring/img/Arrow_Back.svg" /></a>
        <span class="message left"></span>
    </div>
    <div class="content-div base-padding">

        <ul>
            <li>
                <img src="" class="image">
                <h3 class="name"></h3>
                <h3 class="fee"></h3>
                <h3 class="order"></h3>
                <button class="abring_button_market_delete_from_basket">delete from basket</button>
            </li>
        </ul>

    </div>
</div>
