<div class="page abring_payment_list">
    <ul>
        <li>
            <span>factor number :</span><span class="payment_id"></span><br>
            <span>fee:</span><span class="fee"></span><br>
            <span>status :</span><span class="status"></span><br>
            <a href="#" class="view_basket_details">View basket</a><br>
            <a href="#" class="pay">Pay</a><br>
        </li>
    </ul>
</div>
<div class="page abring_payment_pay">
    <div class="basket_details">
        basket details
    </div>
    <div class="pay">

    </div>
</div>
